a {
  text-decoration: none;
  color: white;
}

.contacts .content {
  height: 100vh;
}

.map {
  margin-top: 50px;
}

.contacts-info {
  width: 100%;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.contacts-info img {
  display: block;
  margin: 0 auto;
  width: calc(36px + 5 * (100vw / 1280));
}

.contacts-info span {
  display: block;
  padding: 2px;
}
