.content {
  position: relative;
  margin: 0 7%;
}

.content .carousel {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.content .carousel-img {
  display: block;
  margin-left: auto;
  max-width: 100%;
  height: 100%;
}

.carousel {
  position: relative;
  padding-bottom: 4%;
}

.carousel-control-prev,
.carousel-control-next {
  margin: 0 -15%;
}

.carousel-indicators::before {
  content: "1";
  margin-right: 10px;
}

.carousel-indicators::after {
  content: "3";
  margin-left: 10px;
}

.carousel-indicators {
  position: absolute;
  padding: 0;
  bottom: 10%;
  left: -79%;
  color: white;
}

.carousel-indicators button {
  background-color: yellow !important;
}

.carousel-btn {
  position: absolute;
  background: none;
  cursor: pointer;
  padding: 0;
  top: 75%;
  left: 4.6%;
  z-index: 1;
  border: none;
}

.carousel-btn img {
  width: 17vh;
}
