.services {
  display: inline-block;
  margin-top: 2%;
  height: 100vh;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}

.service-main {
  position: relative;
  border: 1px solid white;
  padding: 20px;
  overflow: hidden;
}

.service-main::after,
.service-main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: yellow;
}

.service-main::after {
  top: 0;
  left: -100%;
  animation: running-line 2s linear infinite;
}

.service-main::before {
  bottom: 0;
  left: 100%;
  animation: running-line-reverse 2s linear infinite;
}

@keyframes running-line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes running-line-reverse {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.service-header {
  text-align: center;
}

.service-description {
  margin-top: 14px;
  font-size: 2vh;
  text-align: left;
  padding: 0 10px;
}

.service-footer {
  display: flex;
  margin-top: 20px;
}

.service-price {
  margin-left: 20px;
}

.service-button a {
  border: 1px solid orange;
  border-radius: 20px;
  font-size: 2vh;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.service-button a:hover {
  background-color: orange;
  color: white;
}

.barber-img-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  margin-top: 50px;
  opacity: 0.5;
}

.barber-img-center img {
  max-width: 100%;
}

.icons {
  display: none;
}

.icons img:first-child {
  position: absolute;
  top: 40%;
  opacity: 0.2;
}

.icons img:last-child {
  position: absolute;
  top: 100%;
  left: 90%;
  opacity: 0.3;
}

@media(min-width: 1280px) {

  .services-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }
  .service-main {
    width: 50%;
    margin: 0 auto;
  }
}

@media(max-width: 815px) {
 
  .service-main {
    width: 50%;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .barber-img-center {
    visibility: hidden;
  }

  .icons {
    display: block;
  }
}