.header-top {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-top: 20px;
  width: 10vw;
}

.logo-link {
  margin-right: 20px;
}

.info {
  margin: 20px 0 0 auto;
  display: flex;
}

.address, .contact {
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
}

.address span,
.contact span {
  color: white;
}

.address span:last-child,
.contact span:last-child {
  display: block;
  color: yellow;
  font-size: 14px;
  margin-right: 20px;
}

.address img, .contact img {
  width: 20px;
  margin-right: 10px;
}

.navbar {
  margin-top: 20px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white !important;
  text-shadow: 1px 1px 1px #000;
}

.nav-link:hover {
  color: yellow !important;
}

.show {
  display: flex !important; 
  flex-direction: column;
  position: absolute; 
  top: 80px;
  left: 0;
  background-color: black; 
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  list-style: none;
  visibility: hidden;
}


@media (max-width: 1024px) {

    #navbarToggleExternalContent {
      display: none;
    }
    
    .navbar-toggler {
      display: block;
    }

  .address, .contact {
    font-size: 16px;
  }

  .address img,
  .contact img {
    width: 14px;
  }

  .address span:last-child,
  .contact span:last-child {
    font-size: 10px;
  }

  .navbar {
    border-radius: 30px;
    opacity: 0.9;
    z-index: 1;
  }

  .nav {
    font-size: 14px;
  }

  .show {
    visibility: visible;
  }

}


@media (min-width: 769px) {

   #navbarToggleExternalContent {
    display: block;
  }
  
  .navbar-toggler {
    display: none;
  }

}